
@import "tailwindcss";

@theme {
  --color-shiwhite-950: hsl(40, 6%, 9%); 
  --color-shiwhite-900: hsl(40, 6%, 17%); 
  --color-shiwhite-800: hsl(42, 5%, 26%); 
  --color-shiwhite-700: hsl(42, 5%, 34%); 
  --color-shiwhite-600: hsl(41, 5%, 42%); 
  --color-shiwhite-500: hsl(40, 6%, 51%); 
  --color-shiwhite-400: hsl(42, 8%, 59%); 
  --color-shiwhite-300: hsl(41, 12%, 68%); 
  --color-shiwhite-200: hsl(40, 18%, 76%); 
  --color-shiwhite-100: hsl(40, 33%, 85%); 
  --color-shiwhite-50: hsl(42, 87%, 93%); 
  --color-shiorange-950: hsl(22, 20%, 18%); 
  --color-shiorange-900: hsl(19, 19%, 24%); 
  --color-shiorange-800: hsl(21, 19%, 30%); 
  --color-shiorange-700: hsl(19, 19%, 37%); 
  --color-shiorange-600: hsl(20, 19%, 42%); 
  --color-shiorange-500: hsl(19, 19%, 49%); 
  --color-shiorange-400: hsl(20, 24%, 55%); 
  --color-shiorange-300: hsl(19, 30%, 61%); 
  --color-shiorange-200: hsl(19, 40%, 67%); 
  --color-shiorange-100: hsl(19, 40%, 70%); 
  --color-shiorange-50: hsl(19, 40%, 73%); 
  --color-shiblack-950: hsl(280, 31%, 5%); 
  --color-shiblack-900: hsl(278, 31%, 6%); 
  --color-shiblack-800: hsl(276, 31%, 8%); 
  --color-shiblack-700: hsl(276, 31%, 9%); 
  --color-shiblack-600: hsl(275, 32%, 10%); 
  --color-shiblack-500: hsl(274, 32%, 11%); 
  --color-shiblack-400: hsl(277, 32%, 12%); 
  --color-shiblack-300: hsl(276, 19%, 20%); 
  --color-shiblack-200: hsl(276, 12%, 28%); 
  --color-shiblack-100: hsl(277, 8%, 36%); 
  --color-shiblack-50: hsl(278, 6%, 43%); 
  --color-shisuccess-950: hsl(157, 7%, 20%); 
  --color-shisuccess-900: hsl(162, 7%, 25%); 
  --color-shisuccess-800: hsl(160, 7%, 30%); 
  --color-shisuccess-700: hsl(158, 7%, 35%); 
  --color-shisuccess-600: hsl(161, 7%, 40%); 
  --color-shisuccess-500: hsl(160, 7%, 45%); 
  --color-shisuccess-400: hsl(158, 7%, 50%); 
  --color-shisuccess-300: hsl(160, 9%, 55%); 
  --color-shisuccess-200: hsl(158, 9%, 59%); 
  --color-shisuccess-100: hsl(160, 9%, 63%); 
  --color-shisuccess-50: hsl(161, 9%, 67%); 
  --color-shifailure-950: hsl(12, 31%, 17%); 
  --color-shifailure-900: hsl(12, 31%, 23%); 
  --color-shifailure-800: hsl(12, 31%, 29%); 
  --color-shifailure-700: hsl(11, 30%, 35%); 
  --color-shifailure-600: hsl(12, 30%, 40%); 
  --color-shifailure-500: hsl(12, 31%, 46%); 
  --color-shifailure-400: hsl(12, 34%, 52%); 
  --color-shifailure-300: hsl(12, 42%, 58%); 
  --color-shifailure-200: hsl(11, 55%, 64%); 
  --color-shifailure-100: hsl(11, 54%, 67%); 
  --color-shifailure-50: hsl(11, 54%, 70%); 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
